/* my goal was: to achieve the design by plain HTML and CSS without using grid/flexbox */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: white;

  position: relative;
  min-height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50vh;
  width: 80%;
  margin: auto;
}

.card-content,
.card-image {
  position: absolute;
  width: 50%;
  height: 100%;
}

.card-content {
  left: 0;
  z-index: 1;
  background-color: var(--secondary-color);
  padding: 52px;
  color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-image {
  right: 0;
  background-color: var(--primary-color);
  background-image: url("./images/image-header-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-content .description {
  font-size: 12px;
  color: var(--neutral-color);
  margin-top: 18px;
  margin-bottom: 42px;
}

.card-content .stats {
  display: inline-block;
  padding: 12px 32px 12px 0;
}

.stats .value {
  font-size: 22px;
  font-weight: bold;
}

.stats .key {
  font-size: 10px;
  color: var(--neutral-color);
}

.card-content p {
  margin-top: 22px;
}

.purple-text {
  color: var(--primary-color);
}

@media (max-width: 868px) {
  .wrapper {
    position: static;
    height: auto;
    margin: 4rem auto;

    transform: translate(0, 0);
  }

  .card-content,
  .card-image {
    width: 100%;
    position: static;
  }

  .card-content {
    padding: 16px;
    text-align: center;
    border-radius: 0 0 6px 6px;
    height: auto;
  }

  .card-image {
    height: 250px;
    border-radius: 6px 6px 0px 0px;
  }

  .card-content .stats {
    display: block;
    padding: 12px 0;
  }
}

:root {
  --background-color: #0a0c1b;
  --primary-color: #b056dd;
  --secondary-color: #1c1938;
  --neutral-color: rgb(156, 156, 156);
}
